In [56]:
import pandas as pd
import numpy as np
import math

In [69]:
ls

code_data.tar.gz                Processed pollutant data (Georgia)/
code.tar.gz                     Processed pollutant data (Georgia + tolerance)/
data_preprocessing.ipynb        program.py
dummy_coding.py                 report.pdf
KMLJ_2015.csv                   time_averaging.py
linear_regression.py            Training samples/
preprocess_output_features.py   Unprocessed meteorological data/
Processed meteorological data/  Unprocessed pollutant data/

In [74]:
data = pd.read_csv('KMLJ_2015.csv', error_bad_lines=False)
data.head()

,Station_ID,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,...,cloud_layer_3_code_set_1,ceiling_set_1,dew_point_temperature_set_1d,wind_chill_set_1d,wind_cardinal_direction_set_1d,pressure_set_1d,sea_level_pressure_set_1d,heat_index_set_1d,weather_condition_set_1d,Unnamed: 24
0,KMLJ,01/01/2015 01:15 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,481.0,...,NaN,NaN,35.6,NaN,N,29.94,30.04,NaN,Mist,NaN
1,KMLJ,01/01/2015 01:35 EST,30.37,35.6,35.6,100.0,0.0,0.0,NaN,12.0,...,NaN,NaN,35.6,NaN,N,29.95,30.05,NaN,Mist,NaN
2,KMLJ,01/01/2015 01:55 EST,30.37,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.95,30.05,NaN,Fog,NaN
3,KMLJ,01/01/2015 02:15 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.94,30.04,NaN,Fog,NaN
4,KMLJ,01/01/2015 02:35 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.94,30.04,NaN,Fog,NaN

In [75]:
data.head()

,Station_ID,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,...,cloud_layer_3_code_set_1,ceiling_set_1,dew_point_temperature_set_1d,wind_chill_set_1d,wind_cardinal_direction_set_1d,pressure_set_1d,sea_level_pressure_set_1d,heat_index_set_1d,weather_condition_set_1d,Unnamed: 24
0,KMLJ,01/01/2015 01:15 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,481.0,...,NaN,NaN,35.6,NaN,N,29.94,30.04,NaN,Mist,NaN
1,KMLJ,01/01/2015 01:35 EST,30.37,35.6,35.6,100.0,0.0,0.0,NaN,12.0,...,NaN,NaN,35.6,NaN,N,29.95,30.05,NaN,Mist,NaN
2,KMLJ,01/01/2015 01:55 EST,30.37,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.95,30.05,NaN,Fog,NaN
3,KMLJ,01/01/2015 02:15 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.94,30.04,NaN,Fog,NaN
4,KMLJ,01/01/2015 02:35 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.94,30.04,NaN,Fog,NaN

In [65]:
data2 = (data['wind_gust_set_1'].values)
sum1 = 0
count = 0
print(len(data2))
for i in data2:
    if not math.isnan(i):
        sum1 += i
        count +=1
 
# print(math.isnan(2))
print(sum1)
print(count)

NameError: name 'data' is not defined

In [66]:
data['Date_Time'] = pd.to_datetime(data["Date_Time"])

NameError: name 'data' is not defined

In [ ]:
data.info()

In [ ]:
columns_name = []
for i in data.columns:
    columns_name.append(i)
print(columns_name)

In [ ]:
data['Date_Time'].describe()

In [ ]:
data.columns

In [ ]:
data.describe()

In [ ]:
data.size

In [ ]:
data_size = len(data['Date_Time'].values)

In [3]:
data.shape[1]

NameError: name 'data' is not defined

In [4]:
print(sum1)

NameError: name 'sum1' is not defined

In [5]:
print(count)

NameError: name 'count' is not defined

In [6]:
meu1 = sum1/count
print(meu1)

NameError: name 'sum1' is not defined

In [7]:
# data2 = (data['wind_gust_set_1'].values)
print(len(data2))
wind_gust_set_1 = []
for i in data2:
    if math.isnan(i):
        wind_gust_set_1.append(round(meu1,2))
    else:
        wind_gust_set_1.append(i)
# print(wind_gust_set_1)

NameError: name 'data2' is not defined

In [8]:
data.drop(columns='wind_gust_set_1')
data['wind_gust_set_1'] = wind_gust_set_1

NameError: name 'data' is not defined

In [9]:
# cloud_layer_2_code_set_1
sum2 = 0
count1 = 0
data3 = data['cloud_layer_2_code_set_1']
print(len(data['cloud_layer_2_code_set_1']))
for i in data3:
    if not math.isnan(i):
        sum2 += i
        count1 +=1
print(sum2)
print(count1)
meu2 = sum2/count1
# print(data3)
print(round(meu2,0))

NameError: name 'data' is not defined

In [10]:
cloud_layer_2_code_set_1 = []
for i in data3:
    if math.isnan(i):
        cloud_layer_2_code_set_1.append(round(meu2,0))
    else:
        cloud_layer_2_code_set_1.append(i)
# print(cloud_layer_2_code_set_1)
data.drop(columns='cloud_layer_2_code_set_1')
data['cloud_layer_2_code_set_1'] = cloud_layer_2_code_set_1

NameError: name 'data3' is not defined

In [11]:
# heat_index_set_1d
sum3 = 0
count2 = 0
data4 = data['heat_index_set_1d']
print(len(data['heat_index_set_1d']))
for i in data4:
    if not math.isnan(i):
        sum3 += i
        count2 +=1
        
print(sum3)
print(count2)
meu3 = sum3/count2
# print(data4)
print(round(meu3,2))

NameError: name 'data' is not defined

In [12]:
heat_index_set_1d = []
for i in data4:
    if math.isnan(i):
        heat_index_set_1d.append(round(meu3,2))
    else:
        heat_index_set_1d.append(i)
# print(heat_index_set_1d)

NameError: name 'data4' is not defined

In [ ]:
data.drop(columns='heat_index_set_1d')
data['heat_index_set_1d'] = heat_index_set_1d

In [13]:
# sea_level_pressure_set_1d
sum4 = 0
count3 = 0
data5 = data['sea_level_pressure_set_1d']
for i in data4:
    if math.isnan(i):
        sum4 += i
        count3 +=1
        
print(count3)

NameError: name 'data' is not defined

In [ ]:
# pressure_set_1d
sum5 = 0
count4 = 0
data6 = data['pressure_set_1d']
for i in data6:
    if not math.isnan(i):
        sum5 += i
        count4 +=1
print(len(data['pressure_set_1d']))
print(count4)
meu5 = sum5/count4
print(meu5)

In [ ]:
pressure_set_1d = []
for i in data6:
    if math.isnan(i):
        pressure_set_1d.append(round(meu5,2))
    else:
        pressure_set_1d.append(i)
# print(pressure_set_1d)

In [14]:
data.drop(columns='pressure_set_1d')
data['pressure_set_1d'] = pressure_set_1d

NameError: name 'data' is not defined

In [ ]:
# wind_chill_set_1d
sum6 = 0
count5 = 0
data7 = data['wind_chill_set_1d']
# print((data['sea_level_pressure_set_1d']))
for i in data7:
    if not math.isnan(i):
        sum6 += i
        count5 +=1
        
print(count5)
meu6 = sum6/count5
print(meu6)

In [ ]:
wind_chill_set_1d = []
for i in data7:
    if math.isnan(i):
        wind_chill_set_1d.append(round(meu6,2))
    else:
        wind_chill_set_1d.append(i)
# print(wind_chill_set_1d)

In [15]:
data.drop(columns='wind_chill_set_1d')
data['wind_chill_set_1d'] = wind_chill_set_1d

NameError: name 'data' is not defined

In [16]:
# dew_point_temperature_set_1d
sum7 = 0
count6 = 0
data8 = data['wind_chill_set_1d']
for i in data8:
    if not math.isnan(i):
        sum7 += i
        count6 +=1
        
print(count6)
meu7 = sum7/count6
print(meu7)

NameError: name 'data' is not defined

In [17]:
dew_point_temperature_set_1d = []
for i in data8:
    if math.isnan(i):
        dew_point_temperature_set_1d.append(round(meu7,2))
    else:
        dew_point_temperature_set_1d.append(i)
# print(dew_point_temperature_set_1d)

NameError: name 'data8' is not defined

In [18]:
data.drop(columns='dew_point_temperature_set_1d')
data['dew_point_temperature_set_1d'] = dew_point_temperature_set_1d

NameError: name 'data' is not defined

In [19]:
# ceiling_set_1
sum8 = 0
count7 = 0
data9 = data['ceiling_set_1']
# print((data['sea_level_pressure_set_1d']))
for i in data9:
    if not math.isnan(i):
        sum8 += i
        count7 +=1
        
print(count7)
meu8 = sum8/count7
print(meu7)

NameError: name 'data' is not defined

In [21]:
ceiling_set_1 = []
for i in data9:
    if math.isnan(i):# ceiling_set_1
sum8 = 0
count7 = 0
data9 = data['ceiling_set_1']
# print((data['sea_level_pressure_set_1d']))
for i in data9:
    if not math.isnan(i):
        sum8 += i
        count7 +=1
        
print(count7)
meu8 = sum8/count7
print(meu7)
        ceiling_set_1.append(round(meu8,0))
    else:
        ceiling_set_1.append(i)
# print(ceiling_set_1)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [22]:
data.drop(columns='ceiling_set_1')
data['ceiling_set_1'] = ceiling_set_1

NameError: name 'data' is not defined

In [23]:
# cloud_layer_3_code_set_1
sum9 = 0
count8 = 0
data10 = data['cloud_layer_3_code_set_1']
for i in data10:
    if not math.isnan(i):
        sum9 += i
        count8 +=1
        
print(count8)
meu9 = sum9/count8
print(meu9)

cloud_layer_3_code_set_1 = []
for i in data10:
    if math.isnan(i):
        cloud_layer_3_code_set_1.append(round(meu9,0))
    else:
        cloud_layer_3_code_set_1.append(i)
# print(cloud_layer_3_code_set_1)

data.drop(columns='cloud_layer_3_code_set_1')
data['cloud_layer_3_code_set_1'] = cloud_layer_3_code_set_1

NameError: name 'data' is not defined

In [24]:
# weather_cond_code_set_1
sum10 = 0
count9 = 0
data11 = data['weather_cond_code_set_1']
# print((data['sea_level_pressure_set_1d']))
for i in data11:
    if not math.isnan(i):
        sum10 += i
        count9 +=1
        
print(count9)
meu10 = sum10/count9
print(meu10)

weather_cond_code_set_1 = []
for i in data11:
    if math.isnan(i):
        weather_cond_code_set_1.append(round(meu10,0))
    else:
        weather_cond_code_set_1.append(i)
# print(weather_cond_code_set_1)

data.drop(columns='weather_cond_code_set_1')
data['weather_cond_code_set_1'] = weather_cond_code_set_1

NameError: name 'data' is not defined

In [25]:
# visibility_set_1
sum11 = 0
count10 = 0
data12 = data['visibility_set_1']
# print(data12)
for i in data12:
    if not math.isnan(i):
        sum11 += i
        count10 +=1
        
print(count10)
meu11 = sum11/count10
print(meu11)

visibility_set_1 = []
for i in data12:
    if math.isnan(i):
        visibility_set_1.append(round(meu11,0))
    else:
        visibility_set_1.append(i)
# print(visibility_set_1)

data.drop(columns='visibility_set_1')
data['visibility_set_1'] = visibility_set_1

NameError: name 'data' is not defined

In [ ]:
# cloud_layer_2_code_set_1
sum12 = 0
count11 = 0
data13 = data['cloud_layer_2_code_set_1']
# print(data13)
for i in data13:
    if not math.isnan(i):
        sum12 += i
        count11 +=1
        
print(count11)
meu12 = sum12/count11
print(meu12)

cloud_layer_2_code_set_1 = []
for i in data13:
    if math.isnan(i):
        cloud_layer_2_code_set_1.append(round(meu12,0))
    else:
        cloud_layer_2_code_set_1.append(i)
# print(cloud_layer_2_code_set_1)

data.drop(columns='cloud_layer_2_code_set_1')
data['cloud_layer_2_code_set_1'] = cloud_layer_2_code_set_1

In [ ]:
# cloud_layer_1_code_set_1
sum13 = 0
count12 = 0
data14 = data['cloud_layer_1_code_set_1']
# print(data14)
for i in data14:
    if not math.isnan(i):
        sum13 += i
        count12 +=1
        
print(count12)
meu13 = sum13/count12
print(meu13)

cloud_layer_1_code_set_1 = []
for i in data14:
    if math.isnan(i):
        cloud_layer_1_code_set_1.append(round(meu13,0))
    else:
        cloud_layer_1_code_set_1.append(i)
# print(cloud_layer_1_code_set_1)

data.drop(columns='cloud_layer_1_code_set_1')
data['cloud_layer_1_code_set_1'] = cloud_layer_1_code_set_1

In [26]:
# wind_gust_set_1
sum14 = 0
count13 = 0
data15 = data['wind_gust_set_1']
# print(data15)
for i in data15:
    if not math.isnan(i):
        sum14 += i
        count13 +=1
        
print(count13)
meu14 = sum14/count13
print(meu14)

wind_gust_set_1 = []
for i in data15:
    if math.isnan(i):
        wind_gust_set_1.append(round(meu14,2))
    else:
        wind_gust_set_1.append(i)
# print(wind_gust_set_1)

data.drop(columns='wind_gust_set_1')
data['wind_gust_set_1'] = wind_gust_set_1

NameError: name 'data' is not defined

In [27]:
# wind_direction_set_1
sum15 = 0
count14 = 0
data16 = data['wind_direction_set_1']
# print(data16)
for i in data16:
    if not math.isnan(i):
        sum15 += i
        count14 +=1
        
print(count14)

meu15 = sum15/count14
print(meu15)

wind_direction_set_1 = []
for i in data16:
    if math.isnan(i):
        wind_direction_set_1.append(round(meu15,0))
    else:
        wind_direction_set_1.append(i)
# print(wind_direction_set_1)

data.drop(columns='wind_direction_set_1')
data['wind_direction_set_1'] = wind_direction_set_1

NameError: name 'data' is not defined

In [ ]:
# wind_speed_set_1
sum16 = 0
count15 = 0
data17 = data['wind_speed_set_1']
# print(data17)
for i in data17:
    if not math.isnan(i):
        sum16 += i
        count15 +=1
        
print(count15)

meu16 = sum16/count15
print(meu16)

wind_speed_set_1 = []
for i in data17:
    if math.isnan(i):
        wind_speed_set_1.append(round(meu16,0))
    else:
        wind_speed_set_1.append(i)
# print(wind_speed_set_1)

data.drop(columns='wind_speed_set_1')
data['wind_speed_set_1'] = wind_speed_set_1

In [ ]:
# relative_humidity_set_1
sum17 = 0
count16 = 0
data18 = data['relative_humidity_set_1']
# print(data18)
for i in data18:
    if not math.isnan(i):
        sum17 += i
        count16 +=1
        
print(count16)

meu17 = sum17/count16
print(meu17)

relative_humidity_set_1 = []
for i in data18:
    if math.isnan(i):
        relative_humidity_set_1.append(round(meu17,2))
    else:
        relative_humidity_set_1.append(i)
# print(relative_humidity_set_1)

data.drop(columns='relative_humidity_set_1')
data['relative_humidity_set_1'] = relative_humidity_set_1

In [28]:
# dew_point_temperature_set_1
sum18 = 0
count17 = 0
data19 = data['dew_point_temperature_set_1']
# print(data19)
for i in data19:
    if not math.isnan(i):
        sum18 += i
        count17 +=1
        
print(count17)

meu18 = sum18/count17
print(meu18)

dew_point_temperature_set_1 = []
for i in data19:
    if math.isnan(i):
        dew_point_temperature_set_1.append(round(meu18,1))
    else:
        dew_point_temperature_set_1.append(i)
# print(dew_point_temperature_set_1)

data.drop(columns='dew_point_temperature_set_1')
data['dew_point_temperature_set_1'] = dew_point_temperature_set_1

NameError: name 'data' is not defined

In [29]:
# air_temp_set_1
sum19 = 0
count18 = 0
data20 = data['air_temp_set_1']
# print(data20)
for i in data20:
    if not math.isnan(i):
        sum19 += i
        count18 +=1
        
print(count18)

meu19 = sum19/count18
print(meu19)

air_temp_set_1 = []
for i in data20:
    if math.isnan(i):
        air_temp_set_1.append(round(meu18,1))
    else:
        air_temp_set_1.append(i)
# print(air_temp_set_1)

data.drop(columns='air_temp_set_1')
data['air_temp_set_1'] = air_temp_set_1

NameError: name 'data' is not defined

In [30]:
# altimeter_set_1
sum20 = 0
count19 = 0
data21 = data['altimeter_set_1']
# print(data21)
for i in data21:
    if not math.isnan(i):
        sum20 += i
        count19 +=1
        
print(count19)

meu20 = sum20/count19
print(meu20)

altimeter_set_1 = []
for i in data21:
    if math.isnan(i):
        altimeter_set_1.append(round(meu20,2))
    else:
        altimeter_set_1.append(i)
# print(altimeter_set_1)

data.drop(columns='altimeter_set_1')
data['altimeter_set_1'] = altimeter_set_1

NameError: name 'data' is not defined

In [31]:
cat1 = pd.get_dummies(data['weather_condition_set_1d'])

NameError: name 'data' is not defined

In [32]:
cat1.head()

NameError: name 'cat1' is not defined

In [33]:
data = data.join(cat1)

NameError: name 'data' is not defined

In [34]:
data.head()

NameError: name 'data' is not defined

In [35]:
data.shape[1]

NameError: name 'data' is not defined

In [36]:
cat2 = pd.get_dummies(data['wind_cardinal_direction_set_1d'])

NameError: name 'data' is not defined

In [37]:
data = data.join(cat2)

NameError: name 'data' is not defined

In [38]:
data.shape[1]

NameError: name 'data' is not defined

In [ ]:
data = data.drop(columns = 'wind_cardinal_direction_set_1d')
data = data.drop(columns = 'Station_ID')
data = data.drop(columns = 'weather_condition_set_1d')

In [ ]:
data.head()

In [39]:
data.shape[1]
data.head(20)

NameError: name 'data' is not defined

In [ ]:
# for i in range(0,data.shape[0]-2):
#     for col in data.columns:
#         if(col != 'Date_Time'):
#            data.loc[data.index[i+2],col] = np.round(((data.loc[data.index[i],col]+ data.loc[data.index[i+1],col] + data.loc[data.index[i+2],col])/3),2)
#     i += 2

In [40]:
data.head(20)

NameError: name 'data' is not defined

In [41]:
# data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
#         'year': [2012, 2012, 2013, 2014, 2014], 
#         'reports': [4, 24, 31, 2, 3]}	

# df = pd.DataFrame(data)
# print(df)

m = data.shape[0]
new_df = pd.DataFrame(columns = data.columns)
columns = data.columns

for i in range(len(columns)):
    column = columns[i]
    col = []
    if column == 'Date_Time':
        i = 0
        while i in range(0,m):
            col.append(data.iloc[i][column])
            i += 3
        new_df[column] = col
        continue
    col = []
    i = 0
    while i in range(0,m):
        val1 = data.iloc[i][column]
        if i+1 < m:
            val2 = data.iloc[i+1][column]
        else:
            val2 = 0
        if i+2 < m:	
            val3 = data.iloc[i+2][column]
        else:
            val3 = 0
        avg = (val1+val2+val3)/3
        col.append(avg)
        i += 3
    new_df[column] = col
new_df.head(40)
# print(new_df)

NameError: name 'data' is not defined

In [42]:
data.describe()

NameError: name 'data' is not defined

In [43]:
data.info()

NameError: name 'data' is not defined

In [44]:
data.columns

NameError: name 'data' is not defined

In [45]:
data = data.drop(columns='Unnamed: 22')

NameError: name 'data' is not defined

In [46]:
m = data.shape[0]
new_df = pd.DataFrame(columns = data.columns)
columns = data.columns

for i in range(len(columns)):
    column = columns[i]
    col = []
    if column == 'Date_Time':
        i = 0
        while i in range(0,m):
            col.append(data.iloc[i][column])
            i += 3
        new_df[column] = col
        continue
    col = []
    i = 0
    while i in range(0,m):
        val1 = data.iloc[i][column]
        if i+1 < m:
            val2 = data.iloc[i+1][column]
        else:
            val2 = 0
        if i+2 < m:	
            val3 = data.iloc[i+2][column]
        else:
            val3 = 0
        avg = (val1+val2+val3)/3
        col.append(avg)
        i += 3
    new_df[column] = col
new_df.head(40)
# print(new_df)

NameError: name 'data' is not defined

In [47]:
new_df.columns

NameError: name 'new_df' is not defined

In [48]:
new_df['N'].unique()

NameError: name 'new_df' is not defined

In [49]:
# new_df.assign(Date=new_df.Date_Time.dt.round('H'))
new_df = new_df.set_index('Date_Time').resample('H').last().reset_index()

NameError: name 'new_df' is not defined

In [50]:
new_df.head(10)

NameError: name 'new_df' is not defined

In [51]:
new_df.shape[0]

NameError: name 'new_df' is not defined

In [52]:
new_df.to_csv('data.csv')

NameError: name 'new_df' is not defined

In [53]:
so2_data = pd.read_csv('hourly_SO2_2015.csv')

FileNotFoundError: [Errno 2] File b'hourly_SO2_2015.csv' does not exist: b'hourly_SO2_2015.csv'

In [54]:
so2_data.head(20)

NameError: name 'so2_data' is not defined

In [55]:
so2_data = so2_data.drop(columns = 'index')

NameError: name 'so2_data' is not defined

In [426]:
so2_data.head(10)

   PPM            Date_Time
0  1.0  2015-01-01 00:00:00
1  1.0  2015-01-01 01:00:00
2  1.0  2015-01-01 02:00:00
3  1.0  2015-01-01 03:00:00
4  1.0  2015-01-01 04:00:00
5  1.0  2015-01-01 05:00:00
6  1.0  2015-01-01 06:00:00
7  1.0  2015-01-01 07:00:00
8  1.0  2015-01-01 08:00:00
9  1.0  2015-01-01 09:00:00

In [427]:
so2_data['PPM'].unique()

array([ 1. ,  1.7,  2.4,  2.1,  1.9,  1.1,  1.2,  1.3,  2.9,  3.1,  2. ,
        1.4,  3.6,  4.6,  3.4,  1.5,  2.6,  5.1,  6.3,  8.2,  7. ,  4. ,
        5.2,  2.5,  1.6,  1.8,  2.7,  2.2,  3.3,  5.5,  4.7,  3.5,  3.7,
       10.2,  6. ,  4.3,  3.8,  8.4, 13.1,  4.5,  8.9,  0.5,  0.4,  0.3,
        3.9,  6.7,  6.9, 10.5])

In [428]:
so2_data['PPM'].describe()

count    8609.000000
mean        1.023859
std         0.339353
min         0.300000
25%         1.000000
50%         1.000000
75%         1.000000
max        13.100000
Name: PPM, dtype: float64

In [429]:
df_inner = pd.merge(new_df, so2_data, on='Date_Time', how='inner')
df_inner

ValueError: You are trying to merge on datetime64[ns, tzlocal()] and object columns. If you wish to proceed you should use pd.concat

In [434]:
df_merge_asof = pd.merge_asof(new_df, so2_data,
              on='Date_Time',
              by='altimeter_set_1')

df_merge_asof

KeyError: 'altimeter_set_1'

In [437]:
# new_df['Date_Time'] = new_df['Date_Time'].astype('str')
so2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8609 entries, 0 to 8608
Data columns (total 2 columns):
PPM          8609 non-null float64
Date_Time    8609 non-null object
dtypes: float64(1), object(1)
memory usage: 134.6+ KB

In [441]:
new_df['Date_Time'] = new_df['Date_Time'].astype('datetime64[ns]')
so2_data['Date_Time'] = so2_data['Date_Time'].astype('datetime64[ns]')
# df['Date'] = df['Date'].astype('datetime64[ns]')

In [442]:
df_inner = pd.merge(new_df, so2_data, on='Date_Time', how='inner')
df_inner

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,S,SE,SSE,SSW,SW,W,WNW,WSW,Date,PPM
0,2015-01-01 06:00:00,30.366667,35.6,35.6,100.000000,0.000000,0.000000,19.65,169.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 01:00:00-05:00,1.0
1,2015-01-01 07:00:00,30.360000,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 02:00:00-05:00,1.0
2,2015-01-01 08:00:00,30.363333,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 03:00:00-05:00,1.0
3,2015-01-01 09:00:00,30.346667,33.8,33.8,100.000000,0.000000,0.000000,19.65,245.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 04:00:00-05:00,1.0
4,2015-01-01 10:00:00,30.323333,33.2,33.2,100.000000,0.000000,0.000000,19.65,209.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 05:00:00-05:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8598,2015-12-31 19:00:00,30.090000,62.6,59.0,88.020000,0.000000,0.000000,19.65,72.000000,440.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 15:00:00-05:00,1.0
8599,2015-12-31 20:00:00,30.100000,62.6,60.2,91.900000,0.000000,0.000000,19.65,654.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 16:00:00-05:00,1.0
8600,2015-12-31 21:00:00,30.113333,62.6,60.2,91.900000,1.536667,96.666667,19.65,753.000000,835.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,2015-12-31 17:00:00-05:00,1.0
8601,2015-12-31 22:00:00,30.126667,60.8,56.6,86.093333,2.683333,196.666667,19.65,753.333333,819.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,2015-12-31 18:00:00-05:00,1.0
8602,2015-12-31 23:00:00,30.140000,59.0,57.2,93.750000,0.000000,0.000000,19.65,752.666667,1003.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 19:00:00-05:00,1.0

In [443]:
df_inner.columns

Index(['Date_Time', 'altimeter_set_1', 'air_temp_set_1',
       'dew_point_temperature_set_1', 'relative_humidity_set_1',
       'wind_speed_set_1', 'wind_direction_set_1', 'wind_gust_set_1',
       'cloud_layer_1_code_set_1', 'cloud_layer_2_code_set_1',
       'visibility_set_1', 'weather_cond_code_set_1',
       'cloud_layer_3_code_set_1', 'ceiling_set_1',
       'dew_point_temperature_set_1d', 'wind_chill_set_1d', 'pressure_set_1d',
       'sea_level_pressure_set_1d', 'heat_index_set_1d', 'Clear', 'Drizzle',
       'Fog', 'Haze', 'Heavy Drizzle', 'Heavy Rain', 'Heavy Rain/Thunderstorm',
       'Light Drizzle', 'Light Rain', 'Light Rain/Thunderstorm', 'Mist',
       'Mostly Cloudy', 'Overcast', 'Partly Cloudy', 'Rain', 'Thunder',
       'Thunderstorm', 'Unknown Precip', 'E', 'ENE', 'ESE', 'N', 'NE', 'NNE',
       'NNW', 'NW', 'S', 'SE', 'SSE', 'SSW', 'SW', 'W', 'WNW', 'WSW', 'Date',
       'PPM'],
      dtype='object')

In [444]:
so2_data = so2_data.set_index('Date_Time').resample('H').last().reset_index()

In [445]:
df_inner = pd.merge(new_df, so2_data, on='Date_Time', how='inner')
df_inner

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,S,SE,SSE,SSW,SW,W,WNW,WSW,Date,PPM
0,2015-01-01 06:00:00,30.366667,35.6,35.6,100.000000,0.000000,0.000000,19.65,169.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 01:00:00-05:00,1.0
1,2015-01-01 07:00:00,30.360000,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 02:00:00-05:00,1.0
2,2015-01-01 08:00:00,30.363333,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 03:00:00-05:00,1.0
3,2015-01-01 09:00:00,30.346667,33.8,33.8,100.000000,0.000000,0.000000,19.65,245.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 04:00:00-05:00,1.0
4,2015-01-01 10:00:00,30.323333,33.2,33.2,100.000000,0.000000,0.000000,19.65,209.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 05:00:00-05:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,2015-12-31 19:00:00,30.090000,62.6,59.0,88.020000,0.000000,0.000000,19.65,72.000000,440.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 15:00:00-05:00,1.0
8750,2015-12-31 20:00:00,30.100000,62.6,60.2,91.900000,0.000000,0.000000,19.65,654.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 16:00:00-05:00,1.0
8751,2015-12-31 21:00:00,30.113333,62.6,60.2,91.900000,1.536667,96.666667,19.65,753.000000,835.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,2015-12-31 17:00:00-05:00,1.0
8752,2015-12-31 22:00:00,30.126667,60.8,56.6,86.093333,2.683333,196.666667,19.65,753.333333,819.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,2015-12-31 18:00:00-05:00,1.0
8753,2015-12-31 23:00:00,30.140000,59.0,57.2,93.750000,0.000000,0.000000,19.65,752.666667,1003.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 19:00:00-05:00,1.0

In [458]:
df_inner.columns
df_inner = df_inner.drop(columns = 'Date_Time')
df_inner = df_inner.drop(columns = 'Date')

In [446]:
# df_inner.to_csv('joined_data.csv')

In [159]:
import pandas as pd
import numpy as np
import math
df_inner = pd.read_csv('joined_data.csv')
df_inner.columns
df_inner = df_inner.drop(columns = 'Date_Time')
df_inner = df_inner.drop(columns = 'Date')

In [ ]:
df = df[pd.notnull(df['EPS'])]

In [164]:
df_inner.columns
for col in df_inner.columns:
    df_inner = df_inner[pd.notnull(df_inner[col])]
df_inner.shape

(8535, 54)

In [218]:
import numpy as np
from numpy import linalg as la
from math import pow

def loss_function(x, y, w, m):
    loss = 0
    for i in range(0,m):
        loss += pow((np.inner(w,x[i]) - y[i]), 2)
    loss /= m
    loss *= pow(10,-20)
    return loss

def regularization_term(w, reg_param):
    """
    Computes a regularization term
    (helps in finding a hypothesis satisfying Occam-Razor principle) 
    :param w: parameter vector
    :param reg_param: lambda, the regularization parameter
    :return: regularization term --> lambda * square of l2 norm   
    """
    norm = la.norm(w)
    term = reg_param*pow(norm, 2)
    return term

# def gradient(x, y, w, m, d, reg_param):
#     grad = np.zeros((1,d+1))
# #     print(x[0][0])
#     for i in range(0,m):
# #         print(x[i])
#         xt = x[i].T
#         temp = xt.dot(np.inner(w,xt) - y[i])
#         grad += temp
# #         print(grad)
#     grad *= (2.0 / m)
# #     grad[0] += (2 * reg_param) * la.norm(w)
# #     print(grad)
#     return grad


# def gradient_descent(x, y, m, d, learning_rate, reg_param):
#     iterations = 10
#     w = np.zeros((1,d+1))
# #     print("hello")
#     w_opt = w 
#     for i in range(iterations):
#         # obj_fn = loss_function(x,y,w) + regularization_term(w)
#         print(gradient(x, y, w, m, d, reg_param))
#         w = w - learning_rate * gradient(x, y, w, m, d, reg_param)
#         w_opt += w
#     w_opt /= iterations
#     return w_opt
# #     return w


def gradient_descent(x, y, m, d, learning_rate, reg_param):
    iterations = 10
    

def fit(x_train, y_train):
    """
    Finds the appropriate parameters (w,b) such that y = <w,x> + b
    :param x_train: the training examples 
    :param y_train: the corresponding targets
    :return:   
    """
    # dim(x_train) : m x d 
    # dim(y_train) : m x 1 
    
    m = y_train.shape[0] # number of samples
    d = x_train.shape[1] # size of feature space
    
    ones = np.ones((m,1)) # for affine to homogeneous conversion
    
    x = np.hstack((x_train,ones)) # dim : m x (d+1) 
    y = y_train # dim : m x 1 
    
    learning_rate = 0.001
    reg_param = 0.01
    w_opt = gradient_descent(x, y, m, d, learning_rate, reg_param)
#     print(w_opt)
    loss_opt = loss_function(x, y, w_opt, m)
#     print(loss_opt)
    reg = regularization_term(w_opt, reg_param)
#     print(reg)
    obj_fn_opt =  loss_opt + reg
#     print(obj_fn_opt)

    return w_opt

def data_frame_to_numpy(df_inner):
#     print(df_inner.columns)
    output = df_inner['PPM']
    df_inner = df_inner.drop(columns = 'PPM')
    return df_inner.to_numpy(), (output).to_numpy()

x,y = data_frame_to_numpy(df_inner)
# print(x)
# print(y)
# w_opt = fit(x, y)
# print(w_opt)

In [219]:
print(x.shape)

(8535, 53)

In [220]:
print(y.shape)

(8535,)

In [221]:
w_opt = fit(x, y)
print(w_opt)

ValueError: shapes (54,) and (1,) not aligned: 54 (dim 0) != 1 (dim 0)

In [249]:
# m = len(math)
# x0 = np.ones(m)
# X = np.array([x0, math, read]).T
# # Initial Coefficients
# B = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
B = np.zeros((1,54)).T
# Y = np.array(df_inner['PPM'].values)
alpha = 0.0000000001
X,Y = x,y = data_frame_to_numpy(df_inner)
m = 8535
ones = np.ones((m,1)) # for affine to homogeneous conversion
# print(X.shape)
X = np.hstack((X,ones))
# print(X.shape)
def cost_function(X, Y, B):
    m = len(Y)
    J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
    return J

inital_cost = cost_function(X, Y, B)
print(inital_cost)

def gradient_descent(X, Y, B, alpha, iterations):
    cost_history = [0] * iterations
    m = len(Y)
    
    for iteration in range(iterations):
        # Hypothesis Values
        h = X.dot(B)
        # Difference b/w Hypothesis and Actual Y
        loss = h - Y
        # Gradient Calculation
        gradient = X.T.dot(loss) / m
        # Changing Values of B using Gradient
        B = B - alpha * gradient
        # New Cost Value
        cost = cost_function(X, Y, B)
        cost_history[iteration] = cost
        
    return B, cost_history

# 100000 Iterations
newB, cost_history = gradient_descent(X, Y, B, alpha, 1000)

# New Values of B
print(newB)

# Final Cost of new B
print(cost_history[-1])

# print(X[0].dot(newB)-Y[0])

4971.315000000145
[[1.12808821e-04 1.12808821e-04 1.12808821e-04 ... 1.12808821e-04
  1.12808821e-04 1.12808821e-04]
 [1.14266096e-06 1.14266096e-06 1.14266096e-06 ... 1.14266096e-06
  1.14266096e-06 1.14266096e-06]
 [2.34648037e-06 2.34648037e-06 2.34648037e-06 ... 2.34648037e-06
  2.34648037e-06 2.34648037e-06]
 ...
 [2.55750415e-09 2.55750415e-09 2.55750415e-09 ... 2.55750415e-09
  2.55750415e-09 2.55750415e-09]
 [1.02431043e-10 1.02431043e-10 1.02431043e-10 ... 1.02431043e-10
  1.02431043e-10 1.02431043e-10]
 [3.79639268e-08 3.79639268e-08 3.79639268e-08 ... 3.79639268e-08
  3.79639268e-08 3.79639268e-08]]
637.8836914377729